html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: #030712;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #168cff;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #02040a;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    #168cff,
    #28d8ff
  );


  border-radius: 10px;
}